#app-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  position: fixed;
}

.title-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom-style: solid;
}

#media-links-container {
  position: fixed;
  display: flex;
  width: 100%;
  height: 10%;
  justify-content: flex-end;
}

#icon {
  height: auto;
  color: white;
  padding: 10px;
}

.overlay {
  width: 100%;
  height: 100%;

  transition: 0.3s ease;
  opacity: 0;
}

#icon:hover .overlay {
  opacity: 1;
}

#menu-bar {
  padding: 0;
  display: grid;
  list-style-type: none;
  background-color: #1a1a1a;

  height: 100%;
  margin: 0;
}

li {
  align-self: center;
  justify-self: center;
}

#display-container {
  height: 100%;
  flex: 10;
}
