#app-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  position: fixed;
}

.title-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom-style: solid;
}

#media-links-container {
  position: fixed;
  display: flex;
  width: 100%;
  height: 10%;
  justify-content: flex-end;
}

#icon {
  height: auto;
  color: white;
  padding: 10px;
}

.overlay {
  width: 100%;
  height: 100%;

  transition: 0.3s ease;
  opacity: 0;
}

#icon:hover .overlay {
  opacity: 1;
}

#menu-bar {
  padding: 0;
  display: grid;
  list-style-type: none;
  background-color: #1a1a1a;

  height: 100%;
  margin: 0;
}

li {
  align-self: center;
  justify-self: center;
}

#display-container {
  position: relative;
  height: 100%;
  width: 100%;
  flex: 10;
}

.page-background {
  width: 100%;
  height: 100%;
  background: url("../assets/codeBG.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0.3;
  z-index: -1;
  margin-left: 40%;
  box-shadow: inset 10px 0px 30px 30px #262626;
  border-radius: 30%;
}
