#app-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  position: fixed;
}

.title-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom-style: solid;
}

#menu-bar {
  padding: 0;
  display: grid;
  list-style-type: none;
  background-color: gray;
  width: 50px;
  height: 100%;
  margin: 0;
}

li {
  align-self: center;
  justify-self: center;
}

#display-container {
  height: 100%;
  flex: 10;
}
