body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #262626;
  position: fixed;
  width: 100%;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,
h2,
h3,
h4,
p {
  color: white;
}

.page-background {
  position: fixed;
  width: 100%;
  height: 100%;
  background: url("../assets/codeBG.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0.3;
  z-index: -1;
  margin-left: 40%;
  box-shadow: inset 10px 0px 30px 30px #262626;
  border-radius: 30%;
  @media (max-width: 800px) {
    margin: auto;
  }
}

.contact-form {
  width: 14em;
  height: 20em;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #1a1a1a;
}

.contact-input {
  height: 10%;
  border: none;
  border-bottom: 2px solid;
  background: transparent;
  color: white;
  font-family: arial;
}

.message {
  height: 40%;
  border: 2px solid;
  border-radius: 10px;
  color: white;
  background: transparent;
  padding: 10px;
  font-family: arial;
}

.send-button {
  background: transparent;
  color: #3f51b5;
  border: 3px solid;
  border-radius: 10px;
  align-self: flex-end;
  font-family: arial;
  transition: 0.3s ease;
}

.send-button :hover {
  color: #80ccff;
  cursor: pointer;
}
